{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/attack.css' %}">

<h1>공격 신청</h1>

<h2>랜덤 카드</h2>

<div id="card-list">
    <!-- JS가 카드 생성 -->
</div>


<h2>공격할 유저</h2>

<select id="target-user">
    <option value="">선택하세요</option>

    {% for user in users %}
        <option value="{{ user.id }}">
            {{ user.username }}
        </option>
    {% endfor %}

</select>

<br><br>

<button id="attack-btn">
    공격 신청
</button>


<script src="{% static 'js/attack.js' %}"></script>

{% endblock %}