{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/attack.css' %}">







<div id="card-list">
    <!-- JS가 카드 생성 -->
</div>



<h2>TARGET USER</h2>


<select id="target-user">

    <option value="">
        SELECT USER
    </option>


    {% for user in users %}
        <option value="{{ user.id }}">
            {{ user.username }}
        </option>
    {% endfor %}


</select>


<form id="csrf-form">
    {% csrf_token %}
</form>



<button id="attack-btn">
    ATTACK!
</button>



<script src="{% static 'js/attack.js' %}"></script>


{% endblock %}